/* {{ asset('css/style_template.css') }} */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* MAIN */
.main-content{
    border-radius: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 1%;
    padding: 1%;
    width: 70%;
    background-color: rgb(247, 246, 246);
}

.tabela {
    width: 100vh;
    border-collapse: collapse;
}

.tabela th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.imagem_arquivo{
    max-height: 50vh;
    max-width: 100%;
}

.tabela th {
    background-color: #bebebe;
}


/* /MAIN */
 
/* HEADER */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background: linear-gradient(to right, #010317, #C8FF78);*/
    background-color: #010317;
    color: #fff; 
}

.botao-header{
    text-decoration: none;

}

.logo img {
    margin-left: 5%;
    height: 85px;
}

.botoes{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1%;
    margin-right: 1%;
    width: 80%;
}

.botoes button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color:#C8FF52;
  color: black;
  font-size: 16px;
  cursor: pointer;
  width: 15%;
}

.botoes button:hover {
  background-color: #C8FF52;
}

/* /HEADER */

/* FOOTER */

.rodape{
    background-color: #010317;
    color: white;
    height: 25%;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    padding: 10px;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: 105%;
    color: black;
    background-color: #C8FF52;
    padding: 10px;
    margin: -10px;
    text-align: center;
}

/* /FOOTER */